<main id="content" class="container">    
    <div class="row">
        {{#each data}}
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="" class="card-img-top" alt="...">
                <div class="card-body">
                    <h1 class="card-title">{{nombre}}</h1>
                    <h2>{{dolarApeso precio}}</h2>
                    <p class="card-text">{{descripcion}}</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                    <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#verProducto-{{id}}">Ver mas</a>
                </div>
            </div>
        </div>            
        <!-- Modal -->
        <div class="modal fade" id="verProducto-{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h1 class="card-title">{{nombre}}</h1>
                <h2>{{precio}}</h2>
                <h3>{{id}}</h3>
                <p class="card-text">{{descripcion}}</p>
                <p class="card-text">{{caracteristicas}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
            </div>
        </div>
        </div> 
        {{/each}} 
    </div>
</main>
