<main id="content" class="container">
    <div class="dashboard-wrapper user-dashboard">
					<div class="table-responsive">
						{{#if data}}
						<table class="table">
							<thead>
								<tr>
									<th>ID</th>
									<th>Nombre</th>
                                    <th>Imagen</th>
									<th>Descripcion</th>
									<th>Precio</th>
									<th>Caracteristicas</th>
									<th>Acciones</th>
                                    
								</tr>
							</thead>
							{{#each data}}
							<tbody>
								<tr>
									<td># {{id}}</td>
									<td>{{nombre}}</td>
									<td>{{imagen}}</td>
                                    <td>{{descripcion}}</td>
									<td>$ {{precio}}</td>
									<td>{{caracteristicas}}</td>
									<td><a href="order.html" class="btn btn-success">Editar</a>
                                    <a href="order.html" class="btn btn-danger">Eliminar</a></td>
								</tr>							
							</tbody>
							{{/each}}
						</table>
						{{else}}
						<h1>No hay productos </h1>
						{{/if}}
		</div>
	</div>
	<div class="row col-md-12">
		<a href="order.html" class="btn btn-primary">Agregar productos</a></td>
	</div>
</main>
